body {
  background-color: #B5C9CD;
  color: white;
  text-align: left;
  font-family: Proxima Nova;
  font-size: 40px;
}
h1 {
  color: white;
  text-align: left;
  font-family: Proxima Nova;
  font-size: 55px;
}
